@charset "UTF-8";

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html, body {
  height:100%;
  scroll-behavior: smooth;
  background: #333;
  font-family: 'fengardo_neueregular';
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
  transition: 0.1s;
}

nav {
  position:absolute;
  right:0;
  top:2vmax;
}

nav ul {
  list-style-type: none;
  text-align: right;
  padding: 2em;
}

nav li {
  padding-bottom: 0.2em;
}

#topmarquee {
  position:fixed;
  top:0;
  color:white;
  overflow: hidden;
  border-bottom:3px solid white;
  background-color: black;
  z-index: 2;
}

#bottommarquee {
  visibility: hidden;
  position:fixed;
  bottom:0;
  color:white;
  overflow: hidden;
  border-top:3px solid white;
  background-color: black;
  z-index: 2;
}

#hewwo {
  font-family: 'vtf_gulaxregular';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: column;
}

#hewwo h3 {
  font-family: 'fengardo_neueregular';
}

@media only screen and (min-width:1024px){

#bottommarquee {
visibility: visible;
  }





























}
